.env
afriteva_v2_large_unyo_dcyo_mix/
oyot5_base_unyo_dcyo_mix/
oyot5_small_unyo_dcyo_mix/
afriteva_v2_base_unyo_dcyo_mix/
oyot5_small_unyo_dcyo_mix_dev/
oyot5_base_unyo_dcyo_mix_dev/
afriteva_v2_base_unyo_dcyo_mix_dev/